/* Big Picture Styling 🐧 */
body {
  margin: 0; 
  margin: 0; 
  display: flex;
  flex-flow: column;
  color: white;
}

.blue {
  color: rgb(179, 199, 206);
}

.center {
  display: block;
  text-align: center;
  letter-spacing: 8px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  margin: 0.4rem;
}

a:hover {
  color: rgb(132, 132, 141);
}

p {
  font-size: 16px;
}

h1 {
  font-size: 5vw;
  line-height: 1.1;
}

/* ◉ Header 💀 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 60px;
}

.l-side,
.r-side {
  display: flex;
  margin: 0 1.5vw;
  font-size: 17px;
}

.nav-links {
  display: flex;
}

.jumbo-btn {
  font-size: 17px;
  color: white;
  letter-spacing: 1.2pt;
}


/* ◉ Section-Jumbotron */
.wrapper-jumbo {
  width: 100vw;
  background-color: #425063;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo-heading {
  letter-spacing: 0.3vw;
}

.jumbo-paragraph {
  color: hsl(210, 26%, 80%);
  letter-spacing: 0.2vw;
  text-align: center;
}


.content-jumbo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  max-width: 980px;
  padding: 3vw;
  height: 550px;  
}

.jumbo-text {
  flex-basis: 45%;
  display: flex;
  flex-flow: column;
  margin: 2vw;
  text-align: center;
}

.jumbo-heading {
  margin: 0;
}

.jumbo-img {
  flex: 1 1 200px;
  max-width: 450px;
  min-width: 300px;
}

.jumbo-btn {
  padding: 16px 32px 16px 32px;
  border-radius: 5%;  
  text-decoration: none;
  background: #1E88E5;
  border: none;
  align-self: center;
}

.jumbo-btn:hover {
  background-color: rgb(120, 120, 150);
}

/* ◉ Section-Cards */
.wrapper-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.content-cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 1000px;
  padding: 1vw;
}

.cards-heading {
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1vw;
}

.card-img {
  border: 5px solid rgb(128, 152, 189);
  border-radius: 28px;
  min-height: 210px;
  min-width: 210px;
  max-height: 210px;
  max-width: 210px;
}

.card p {
  text-align: left;
  max-width: 200px;
}

/* ◉ Section-Quote */
.section-quote {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  text-align: center;
  min-height: 550px;
  color: black;
}

.wrapper-quote {
  flex-shrink: 1;
  max-width: 980px;
  display: flex;
  flex-flow: column;
  margin: 7vw;
}

.wrapper-quote p {
  font-size: 22px;
  letter-spacing: 1.1px;
  font-weight: bolder;
  align-self: center;
  text-align: center;
}

blockquote {
  font-style: italic;
  margin: 0;
  font-size: 28px;
  text-align:left;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.section-quote p {
  align-self: flex-end;
}

/* ◉ Section-Bottom */
.section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
}

.modal-cta {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3rem;
  height: 200px;
  width: 980px;
  min-width: 300px;
}

.cta-textContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cta-heading {
  font-size: 32px;  
  margin: 0;
  letter-spacing: 0.8pt;  
  text-align: center;
}

.cta-paragraph {
  letter-spacing: 0.8pt;  
  text-align: center;
}

.modal-btn {
  width: 300px;
  padding: 16px;
  align-self: center; 
  border-radius: 4vw;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 18px;
  background-color: rgb(63, 62, 62);
  
}

/* ◉ Footer 🦶 */
footer {
  background-color: #1F2937;
  color: white;
  text-align: center;
  letter-spacing: 0.4pt;
}